{% extends "Layouts/base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div id="crear_familia">
            <br>
            <label for="nombre_familia">Nombre de la familia:</label>
            <input type="text" id="nombre_familia" name="nombre_familia" required><br>

            <label for="cuantos_trabajan">¿Cuántos integrantes trabajan?:</label>
            <input type="number" id="cuantos_trabajan" name="cuantos_trabajan" min="0" required><br>

            <label for="ocupacion_padres">Ocupación de los padres:</label>
            <input type="text" id="ocupacion_padres" name="ocupacion_padres" required><br>

            <label for="numero_integrantes">Número de integrantes del hogar:</label>
            <input type="number" id="numero_integrantes" name="numero_integrantes" min="0" required><br>

            <label for="cantidad_dormitorios">Cantidad de dormitorios:</label>
            <input type="number" id="cantidad_dormitorios" name="cantidad_dormitorios" min="0" required><br>

            <label for="cantidad_banos">Cantidad de baños:</label>
            <input type="number" id="cantidad_banos" name="cantidad_banos" min="0" required><br>

            <label for="banos_compartidos">¿Los baños son compartidos?:</label>
            <input type="checkbox" id="banos_compartidos" name="banos_compartidos" required><br>

        <!--Red electrica, Otro suministro, Sin electricidad.-->
            <label for="energia">Tipo de energía:</label>
            <select name="energia" id="energia" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Red electrica">Red electrica</option>
                <option value="Otro suministro">Otro suministro</option>
                <option value="Sin electricidad">Sin electricidad</option>
            </select><br>

        <!--Agua potable, Pozo, Otro suministro.-->
            <label for="tipo_agua">Tipo de agua:</label>
            <select name="tipo_agua" id="tipo_agua" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Agua potable">Agua potable</option>
                <option value="Pozo">Pozo</option>
                <option value="Otro suministro">Otro suministro</option>
            </select><br>

        <!--Casa solida, Casa Madera, Departamento, Arriendo, Mediagua.-->
            <label for="tipo_construccion">Tipo de construcción:</label>
            <select name="tipo_construccion" id="tipo_construccion" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Casa solida">Casa solida</option>
                <option value="Casa Madera">Casa Madera</option>
                <option value="Departamento">Departamento</option>
                <option value="Arriendo">Arriendo</option>
                <option value="Mediagua">Mediagua</option>
            </select><br>

        <!--Propia, cedida, arrendada, allegados.-->
            <label for="propiedad">Tipo de propiedad:</label>
            <select name="propiedad" id="propiedad" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Propia">Propia</option>
                <option value="Cedida">Cedida</option>
                <option value="Arrendada">Arrendada</option>
                <option value="Allegados">Allegados</option>
            </select><br>
        
        <!--Casado, Separados, Anulado, Convivientes, Viudo(a), Solteros, Divorciados.-->
            <label for="estado_marital_padres">Estado marital de los padres:</label>
            <select name="estado_marital_padres" id="estado_marital_padres" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Casado">Casado</option>
                <option value="Separados">Separados</option>
                <option value="Anulado">Anulado</option>
                <option value="Convivientes">Convivientes</option>
                <option value="Viudo">Viudo</option>
                <option value="Viuda">Viuda</option>
                <option value="Solteros">Solteros</option>
                <option value="Divorciados">Divorciados</option>
            </select><br>

        <!--Ambos Vivos, Ambos Muertos, Solo el Padre Vivo, Solo la Madre Viva. -->
            <label for="estado_vida_padres">Estado de vida de los padres:</label>
            <select name="estado_vida_padres" id="estado_vida_padres" required>
                <option value="" disabled selected>--Seleccione--</option>
                <option value="Ambos Vivos">Ambos Vivos</option>
                <option value="Ambos Muertos">Ambos Muertos</option>
                <option value="Solo el Padre Vivo">Solo el Padre Vivo</option>
                <option value="Solo la Madre Viva">Solo la Madre Viva</option>
            </select><br>

            <label for="ingresos_mensuales">Ingresos mensuales (CLP):</label>
            <input type="number" id="ingresos_mensuales" name="ingresos_mensuales" min="0" required><br>

            <button type="submit" name="accion" value="crear_familia">Crear familia</button>
            <br>
            <br>
        </div>
    </form>
    <a href="{% url 'añadir_alumno' %}">Volver</a>
{% endblock %}